
.navbar{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFBB33;
    height: 100px;
}
.logo h2{
    color: #FF7644;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 50px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}
.nav-links a:hover{
    color: #02E1FF;
}

@media (max-width:768px){

    .navbar{
        flex-direction:column;
        padding:20px;
    }

    .nav-links{
        margin-top:15px;
        gap:20px;
        flex-direction:column;
        align-items:center;
    }
}